.post > header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.post > header time{
    font-size: 0.875rem;
    color: var(--garay-400);
}

.author{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.authorInfo strong{
    display: block;
    color: var(--gray-100);
    line-height: 1.6;
}

.authorInfo span{
    display: block;
    font-size: 0.875rem;
    color: var(--gray-400);
    line-height: 1.6;
}

.commentForm{
    width: 100%;
}